<!DOCTYPE html>
<html ng-app="Felda" ng-controller="ctrl">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Nejzábavnější fyzikální simulace všech dob!">
		<meta name="author" content="Jiří Zbytovský">
		<title>Felda simulátor</title>
		
		<!--LIBS-->
		<script src="libs/angular.min.js" type="text/javascript"></script>

		<!--DATA-->
		<script src="app/data.js" type="text/javascript"></script>
		<script src="app/cars.js" type="text/javascript"></script>
		<script src="app/userdata.js" type="text/javascript"></script>

		<!--MAIN APP-->
		<script src="app/misc.js" type="text/javascript"></script>
		<script src="app/model.js" type="text/javascript"></script>
		<script src="app/render.js" type="text/javascript"></script>
		<script src="app/level.js" type="text/javascript"></script>
		<script src="app/sounds.js" type="text/javascript"></script>

		<!--ANGULAR APP-->
		<script src="app/controller.js" type="text/javascript"></script>
		<script src="app/directives.js" type="text/javascript"></script>
		<script src="app/showroom.js" type="text/javascript"></script>

		<!--CSS-->
		<link rel="stylesheet" href="app/style.css">
	</head>

	<body ng-keydown="keyPress($event, true)" ng-keyup="keyPress($event, false)">
<div id="tooltip" ng-show="CS.tooltip.visible" ng-style="CS.tooltip.style">
	<span ng-repeat="l in CS.tooltip.message track by $index">{{l}}<br></span>
</div>

<div id="popup" ng-style="style.popup" ng-class="{vanish: CS.popup.timeout < 400}" ng-show="CS.popup">
	<p ng-if="CS.popup" ng-repeat="l in CS.popup.lines track by $index">{{l}}</p>
	<p style="text-align: center" ng-if="CS.popup && CS.popup.okButton"><input type="button" ng-click="CS.popup = false" value="OK" tooltip="Esc"></p>
</div>

<div ng-switch="CS.tab">
<!-- MENU -->
	<div ng-switch-when="menu">
		<h1>Felda simulátor</h1>

		<div class="buttonContainer">
			<input type="button" ng-if="S" ng-click="continue()" value="Pokračovat" class="mediumButton">
			<input type="button" ng-click="initGame()" value="Nová hra" class="mediumButton">
			<input type="button" ng-click="enterShowroom()" value="Autosalón" class="mediumButton">
			<input type="button" ng-click="tab('options')" value="Nastavení" class="mediumButton">
			<input type="button" ng-click="tab('history')" ng-value="'v' + version.join('.')" class="mediumButton">
		</div>

		<p ng-if="S">
			<b>Běžící hra</b>:
			{{levels[S.level.i].name}}, {{cars[S.car].name}} {{cars[S.car].engineName}} ({{cars[S.car].year}}), {{(S.d/1000).toFixed(1)}} km<br>
		</p>
		<div ng-if="!S">
			<p>Vítejte ve Felda simulátoru - nejzábavnější fyzikální simulaci všech dob!<br>
				V této hře můžete ovládat nejen toto známé lidové vozítko, ale nově i mnoho dalších.</p>
			<p>Simulace je založená <i>převážně</i> na reálných datech a zahrnuje fyzikální model motoru, převodovky a spojky.<br>
				Ty můžete ovládat a sledovat tak jízdní vlastnosti včetně spotřeby paliva, a nebo se prostě jen kochat pohledem na ubíhající krajinu!</p>
			<p>Je doporučeno hrát na počítači s klávesnicí, avšak lze se bez ní obejít <i>(viz Ovládání)</i></p>
			<p>Po výběru levelu a automobilu spusťte hru tlačítkem Nová hra (výše)</p>
		</div>

		<h2>Ovládání <span ng-click="CS.showIntro = !CS.showIntro" class="fakeLink" style="font-size: 16px">{{CS.showIntro ? 'skrýt' : 'odkrýt'}}</span></h2>

		<div ng-show="CS.showIntro">
			<p>Pro ovládání jsou nejdůležitější pedály pro spojku a plyn, které lze posouvat myší a nebo tlačítky
				<b>{{viewKey('cu')}}, {{viewKey('cd')}}, {{viewKey('gu')}}, {{viewKey('gd')}}</b> (popsáno přímo ve hře)
			</p>
			<p><b>Esc</b> pozastaví hru a otevře tuto obrazovku</p>
			<p><b>Kolečko myši</b> přibližuje či oddaluje obraz</p>
			<p><b>{{viewKey('brake')}}</b> aplikuje brzdu, která funguje zjednodušeně - plné sešlápnutí pedálu a bez prokluzu, kola jsou vždy přilnutá k vozovce</p>
			<p>
				<b>; 1 2 3 4 5 6</b> v řadě kláves nad písmeny zařadí neutrál či převod (pokud existuje)<br>
				<b>0</b> až <b>6</b> na numerické klávesnici funguje stejně<br>
				Avšak lze využít i myš, pokud v nastavení zapnete možnost <i>zobrazit řadící páku</i><br>
				Zpátečka zde není, protože je nezajímavá
			</p>
			<p><b>{{viewKey('map')}}</b> otevře či zavře minimapku - náhled terénu</p>
			<p><b>{{viewKey('nitro')}}</b> zdvojnásobí výkon motoru vstřikováním N<sub>2</sub>O - jen pro srandu ;-)</p>
			<p>
				<b>Pozn. 1:</b> simulátor obsahuje i zvukové efekty. Pokud by během hry zvuk nefungoval, <a class="fakeLink" ng-click="soundTroubleshoot()">viz zde</a><br>
				<b>Pozn. 2:</b> doporučuji stisknout F11, abyste si hru mohli užít na celé obrazovce
			</p>
		</div>

		<h2>Výběr levelu</h2>
		<span ng-repeat="l in levels track by $index">
			<input type="radio" ng-model="CS.levelSelect" ng-value="$index" id="levelSelect{{$index}}">
			<label for="levelSelect{{$index}}"><span class="fakeLink">{{l.name}}</span></label><br>
			<span style="padding-left: 30px">{{l.description}}</span><br>
		</span>

		<h2>Výběr automobilu</h2>
		<span ng-repeat="c in cars track by $index">
			<input type="radio" ng-model="CS.carSelect" ng-value="$index" id="carSelect{{$index}}">
			<label for="carSelect{{$index}}">{{c.name}} {{c.engineName}} ({{c.year}})</label>
			<a class="fakeLink" ng-click="enterShowroom($index)" tooltip="otevřít autosalón">popis</a><br>
		</span>
	</div>

<!-- OPTIONS -->
	<div ng-switch-when="options">
		<!-- ?version to prevent annoying caching! Always update when html is changed :-( -->
		<div ng-include="'app/ng/options.html?version=1'"></div>
	</div>

<!-- CAR SHOWROOM -->
	<div ng-switch-when="carShowroom">
		<h1>Autosalón</h1>

		<div class="buttonContainer">
			<input type="button" class="mediumButton" ng-click="tab('menu')" value="Zpět" tooltip="Esc">
			<input type="button" class="mediumButton" ng-if="S" ng-click="continue()" value="Pokračovat">
		</div>

		<select ng-model="CS.showroomIndex" id="showroomSelectCar" ng-change="enterShowroom()">
			<option ng-repeat="opt in optsShowroom" ng-value="opt.i">{{opt.txt}}</option>
		</select><br>

		<showroom></showroom>
	</div>

<!-- GAME -->
	<div ng-switch-when="game" id="game">
		<div id="escapeButton" ng-click="escapeGame()" tooltip="Esc">✖️</div>

		<div id="gameLevelTitle">{{levels[S.level.i].name}}, {{cars[S.car].name}} {{cars[S.car].engineName}} ({{cars[S.car].year}})</div>

		<canvas id="map" width="800" height="400" ng-if="CS.enableGraphics" minimap></canvas>

		<div id="stats" ng-include="'app/ng/stats.html?version=1'" ng-style="style.stats"></div>

		<div id="advanced" ng-include="'app/ng/advanced.html?version=1'" ng-style="style.advanced" ng-if="CS.enableDetails && !S.tutorial"></div>

		<div id="controls" ng-style="style.controls" ng-show="!S.disable.controls">
			<div class="ctrlContainer">
				Spojka<br>
				<input type="range" class="pedalSlider" orient="vertical" min="0" max="1" step="0.01" ng-model="getSetClutch" ng-model-options="{getterSetter: true}"><br>
				{{getKey('cu')}} &uarr;<br>
				{{getKey('cd')}} &darr;<br>
			</div>

			<div class="ctrlContainer">
				Plyn<br>
				<input type="range" class="pedalSlider" orient="vertical" min="0" max="1" step="0.01" ng-model="getSetGas" ng-model-options="{getterSetter: true}"><br>
				{{getKey('gu')}} &uarr;<br>
				{{getKey('gd')}} &darr;<br>
			</div>

			<div class="ctrlContainer" style="text-align: left; width: 130px;">
				<input type="button" value="START" class="mediumButton" style="width: 76px" onclick="M.start(); this.blur()">

				<!--only when PID enabled-->
				<span ng-if="CS.enablePID && !S.tutorial"><br>
					<input type="button" value="tempomat" style="width: 76px; margin-bottom: 5px" tooltip="levý klik zapne, pravý vypne"
						onclick="M.setPID(); this.blur()" oncontextmenu="M.remPID(); this.blur(); event.preventDefault()"><br>

					<!--when PID currently running-->
					<span ng-show="S.vTarget">
						<span tooltip="nastavená hodnota tempomatu">&rarr; {{st.calculateUnit(S.vTarget, CS.unitVel)}}</span><br>

						<!--advanced PID details-->
						<span ng-show="CS.enableDetails">
							<span tooltip="plyn (člen proporcionální)">P {{S.PID[0].toPercent()}}</span><br>
							<span tooltip="plyn (člen integrační)">I {{S.PID[1].toPercent()}}</span><br>
							<span tooltip="plyn (člen derivační)">D {{S.PID[2].toPercent()}}</span><br>
							<span tooltip="plyn (výsledný)">&sum; {{S.gas.toPercent()}}</span>
						</span>
					</span>
				</span>
			</div>

			<div class="ctrlContainer" ng-show="CS.enableGearstick" style="padding-left: 20px">
				<gearstick></gearstick>
			</div>

			<div id="warning">
				<p ng-repeat="w in warnings" ng-if="w.f()">{{w.txt}}</p>
			</div>
		</div>
	</div>

<!-- VERSION HISTORY -->
	<div ng-switch-when="history">
		<h1>Historie verzí</h1>
		<div class="buttonContainer">
			<input type="button" ng-click="tab('menu')" value="Zpět" class="mediumButton" tooltip="Esc"><br>	
		</div>
		<p>
			Na této stránce jsou shrnuty jen ty nejvýznamnější verze hry.<br>
			Pokud vás zajímá zdrojový kód aplikace včetně jeho vývoje, navštivte GitHub <a href="https://github.com/Lemonexe/Felda" target="_blank">repozitář</a>
		</p>
		<table>
			<tr ng-repeat="v in vHistory">
				<td width="70">{{v.name}}</td><td width="130">{{v.date}}</td><td>{{v.desc}}</td>
			</tr>
		</table>
		<p>&nbsp;</p>
		<p><a class="fakeLink" ng-click="showChangelog = !showChangelog">{{showChangelog ? 'skrýt' : 'Co je nového?'}}</a></p>
		<div ng-show="showChangelog">
			Nejvýraznějších změn se hra dočkala v srpnu 2019, zde je jejich seznam:
			<ul>
				<li>UI kompletně přepracováno za pomoci frameworku AngularJS</li>
				<li>Mapa (náhled terénu)</li>
				<li>Tempomat</li>
				<li>Autosalón</li>
				<li>Přidána Škoda 105 (1977)</li>
				<li>Přidána Škoda Octavia II (2005)</li>
				<li>Přidán Chevrolet Camaro (2017)</li>
				<li>Více obrázků v Alpách a na letišti, animované obrázky</li>
				<li>Zoomování pomocí kolečka myši</li>
				<li>Řazení umožněno i myší</li>
			</ul>
		</div>
	</div>
</div>

<div class="footerDefense"></div>
<div id="footer" ng-show="CS.tab === 'menu'">
	Vytvořil <a href="http://jira.zby.cz/">Jiří Zbytovský</a> v letech 2017-2019 za použití <a href="https://angularjs.org/" target="_blank">AngularJS</a>
	a různých zdrojů (<a class="fakeLink" ng-click="disclaimer()">více informací</a>)
</div>

	</body>
</html>
