<h1>Nastavení</h1>

<div class="buttonContainer">
	<input type="button" ng-click="tab('menu')" value="Zpět" class="mediumButton" tooltip="Esc">
	<input type="button" ng-if="S" ng-click="continue()" value="Pokračovat" class="mediumButton">
</div>

<p ng-if="CS.isLoadedGame">
	Byla automaticky načtena data z minula.
	<a class="fakeLink" ng-click="hardReset()">Smazat a obnovit</a>
</p>

<div class="tabSwitchContainer" style="width: 500px; padding-left: 100px">
	<tab control="ctrl.optionTab" value="control">Ovládání</tab>
	<tab control="ctrl.optionTab" value="display">Zobrazení</tab>
	<tab control="ctrl.optionTab" value="audio">Zvuk</tab>
</div>

<div ng-switch="ctrl.optionTab">
	<div ng-switch-when="control">
		<p>
			Nastavení kláves:
			<select ng-model="ctrl.key2bind" ng-options="x.description for x in optsKeys"></select>:
			"{{viewKey(ctrl.key2bind.action)}}"
			<input type="button" ng-click="setKey()" onclick="this.blur()" value="Změnit">
		</p>

		<p tooltip="pomalejší ovládání = hladší řazení a rozjíždění">
			Rychlost ovládání pedálů pomocí kláves:
			<select ng-model="CS.pedalSpeed" ng-options="x for (x, y) in optsPedals"></select>
		</p>

		<p>
			<input type="checkbox" ng-model="CS.enablePID" id="formPID">
			<label for="formPID" tooltip="zobrazit ovládání tempomatu"> tempomat</label><br>
			
			<input type="checkbox" ng-model="CS.enableAutomat" id="formAutomat">
			<label for="formAutomat" tooltip="velmi primitivní automatické řazení"> automatická převodovka</label><br>
			
			<input type="checkbox" ng-model="CS.enableGearstick" id="formGearstick">
			<label for="formGearstick" tooltip="jako alternativní způsob řazení vedle kláves, vhodné pro dotykovou obrazovku"> zobrazit řadící páku</label><br>

			<input type="checkbox" ng-model="CS.invertedPedals" id="formInvert" ng-change="invertPedals()">
			<label for="formInvert" tooltip="pedály budou mít opačný význam"> obrátit ovládání pedálů</label>
		</p>
	</div>

	<div ng-switch-when="audio">
		<p>
			<input type="checkbox" ng-model="CS.enableSounds" id="formSounds">
			<label for="formSounds"> zapnout zvuk</label><br>
			<a class="fakeLink" style="font-size: 12px" ng-click="soundTroubleshoot()">zvuk nehraje?</a>
		</p>
		<p>
			Hlasitost: <input type="range" min="0" max="100" step="1" ng-model="CS.volume"> {{CS.volume}}%
		</p>
		<p>
			<input type="checkbox" ng-model="CS.enableAmbientSounds" id="formAmbient">
			<label for="formAmbient"> zvuky prostředí</label><br>
			<input type="checkbox" ng-model="CS.enableBackgroundMute" id="formMute">
			<label for="formMute"> ztlumit když je okno v pozadí</label>
		</p>
	</div>

	<div ng-switch-when="display">
		<p>
			Jednotky rychlosti:
			<select ng-model="CS.unitVel" ng-options="opt.txt for opt in optsVel track by opt.txt"></select><br>
			Jednotky zrychlení:
			<select ng-model="CS.unitAcc" ng-options="opt.txt for opt in optsAcc track by opt.txt"></select><br>
			Jednotky výkonu:
			<select ng-model="CS.unitPow" ng-options="opt.txt for opt in optsPow track by opt.txt"></select>
		</p>

		<p>
			<input type="checkbox" ng-model="CS.enableGraphics" id="formGraphics">
			<label for="formGraphics"> VYKRESLOVAT GRAFIKU</label><br>
		</p>
		<p ng-show="CS.enableGraphics">
			<input type="checkbox" ng-model="CS.enableVibration" id="formVibration">
			<label for="formVibration"> vibrace</label>
		</p>

		<p tooltip="čím vyšší, tím hezčí, ale při zasekávání programu raději snižte" ng-show="CS.enableGraphics">
			FPS (počet snímků za vteřinu):
			<input type="range" min="10" max="120" step="10" ng-model="CS.FPS"> {{CS.FPS}}
		</p>

		<p>
			<input type="checkbox" ng-model="CS.enableDetails" id="formDetails">
			<label for="formDetails"> pokročilé statistiky</label>
			<a class="fakeLink" ng-click="showExplanation = !showExplanation">{{showExplanation ? 'skrýt' : 'vysvětlení'}}</a>
		</p>

		<div ng-show="showExplanation" style="padding-left: 50px; margin-top: 10px">
			<p>
				<b>Po zaškrtnutí se budou zobrazovat složitější údaje o aktuálním stavu vozidla.<br>
				Možná bude potřeba vypnout grafiku, aby se údaje vešly na obrazovku.</b>
			</p>
			<p>
				F<sub>c</sub> = disipativní + gravitační síly působící na auto<br>
				T<sub>e</sub> = točivý moment motoru<br>
				F<sub>cF</sub> = výsledná síla na auto (po přerozdělení sil spojkou)<br>
				T<sub>eF</sub> = výsledný točivý moment na motor
			</p>
			<p>
				příkon a účinnost jsou vypočteny pouze teoreticky<br>
				tlak vzduchu z barometrické rovnice slouží na přepočet výkonu i příkonu
			</p>
			<p>
				T<sub>clutch</sub> = maximální točivý moment přenositelný spojkou podle jejího sešlápnutí<br>
				T<sub>pass</sub> = točivý moment aktuálně procházející spojkou od motoru k autu<br>
				&Delta;f = prokluz na spojce (rozdíl frekvencí v RPM)<br>
				r<sub>e</sub> = efektivní poloměr kol (se započtením převodu)
			</p>
			<p>
				E<sub>kC</sub> = kinetická energie auta bez motoru (moment setrvačnosti kol a převodovky je zanedbán)<br>
				E<sub>kE</sub> = kinetická energie motoru<br>
				E<sub>kT</sub> = celková kinetické energie (součet)
			</p>
			<p>
				<b>Pokud je povolen tempomat</b> a je aktuálně zapnut, standardně se pod ním zobrazuje cílová rychlost.<br>
				Po povolení pokročilých statistik se zobrazují navíc ještě podrobnosti o regulaci plynu.<br>
				Ta je řešena pomocí PID regulátoru, který z odchylky rychlosti vypočítá plyn pomocí těchto příspěvků:<br>
				P = plyn z proporcionální složky<br>
				I = plyn z integrační složky <i>(integrace je omezena na {{config.integratorCap.toPercent()}}, aby se zamezilo přílišným oscilacím)</i><br>
				D = plyn z derivační složky <i>(derivace je většinou úplně vypnutá, protože se jedná o systém prvního řádu, a je tedy zbytečná)</i><br>
				&sum; = výsledný plyn, který je omezen na 0 až 100 % a může být &quot;přebit&quot; pedálem
			</p>
		</div>
	</div>
</div>